body {
	background-image: url('http://images5.fanpop.com/image/photos/30500000/HowIMetYourMother-how-i-met-your-mother-30519614-800-640.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.page-header {
	margin-left: 100px;
}

h1 {
	font-family: 'Maven Pro', sans-serif;
}

#startButton {
	margin-left: 225px;
}

.row {
	margin-top: 15px;
}

p {
	text-align: center;
}
